---
import Layout from "../layouts/BaseLayout.astro";

const pageTitle = "Library";
---

<Layout title={pageTitle}>
  <h2>Diagraming</h2>
  <ul>
    <li>
      <a href="https://www.youtube.com/watch?v=x2-rSnhpw0g&t=3s">C4 model</a>
    </li>
  </ul>
</Layout>
