---
import LinkButton from "./LinkButton.astro";
---

<nav class="nav-links">
  <LinkButton href="/" text="Home" />
  <LinkButton href="/blog" text="Blog" />
  <LinkButton href="/tags" text="Tags" />
  <LinkButton href="/library" text="Library" />
</nav>
